:root {
  --primary-text-color: #212121;
  --paragraph-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --logo-color: #000000;
  --footer-backgroung-color: #2f303a;
  --address-link: rgba(255, 255, 255, 0.6);
  --studio-background-color: #f5f4fa;
  --title-backroung-color: #2f303a;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* Logo */
.header-logo {
  color: var(--logo-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.accent {
  color: var(--accent-color);
}
/* Page-header */
.page-header {
  background-color: var(--primary-white-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}
/* Site nav */
.site-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* Header contacts */
.contacts .contacts-link {
  color: var(--paragraph-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
}
.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
  color: var(--accent-color);
}
/* Studio */
.title {
  background-color: var(--title-backroung-color);
}
.title-header {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.container-background {
  background-color: var(--title-backroung-color);
}
.container-title {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
  text-align: center;
}
.button-title {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 216px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button-title:hover,
.button-title:focus {
  background-color: var(--studio-background-color);
  color: var(--primary-text-color);
}
/* Features */
.features-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  /* margin-top: 94px; */
}
.features-paragraph {
  color: var(--paragraph-text-color);
  line-height: 1.71;
  margin-top: 10px;
  /* margin-bottom: 118px; */
}
.container-features {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}
/* Works */
.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.container-works {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}
/* Team */
.team {
  background-color: var(--studio-background-color);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team-paragraph {
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.18;
}
.contairen-team {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}
/* Portfolio */
.primary-title {
  visibility: hidden;
  margin: 0;
  font-size: 0;
  margin-block: 0;
}
.portfolio-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-paragraph {
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.87;
}
/* Button */
.button {
  color: var(--primary-text-color);
  background-color: var(--studio-background-color);
  display: inline-block;
  border-radius: 4px;
  padding: 6px 25px;
  min-width: 73px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* Footer */
.footer {
  background-color: var(--footer-backgroung-color);
}
.footer-logo {
  color: var(--primary-white-color);
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.address-hyperlink {
  color: var(--primary-white-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}
.address-hyperlink:hover,
.address-hyperlink:focus {
  color: var(--accent-color);
}
.address-link {
  color: var(--address-link);
  text-decoration: none;
  line-height: 1.7;
  font-style: normal;
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
